{% extends 'base.html' %}

{% block content %}
    <div class='post-entry'>
        <h3 style="margin-bottom: 30px"><b>Ограничения</b></h3>
    </div>

    <ul class="nav nav-tabs">
        {% if isBaseConfiguration %}
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" style="color: white;"
                   href="#{{ vehicle.0.name }}">Базовая комплектация</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" style="color: white;" href="#{{ vehicle.0.name }}">{{ vehicle.0.name }}</a>
            </li>
        {% endif %}
        {% if vehicle.1 %}
            {% for veh in vehicle|slice:"1:" %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" style="color: white" href="#{{ veh.name }}">{{ veh.name }}</a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
    <div class="tab-content" style="margin-top: 30px; margin-bottom: 30px;">
        <div class="tab-pane fade show active" id="{{ vehicle.0.name }}">
            <h4>Шины</h4>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Ширина</th>
                    <th scope="col">Высота</th>
                    <th scope="col">Диаметр</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Мин.</th>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.tire.width.min }}</td>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.tire.height.min }}</td>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.tire.diameter.min }}</td>
                </tr>
                <tr>
                    <th scope="row">Макс.</th>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.tire.width.max }}</td>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.tire.height.max }}</td>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.tire.diameter.max }}</td>
                </tr>
                <tr>
                    <th scope="row">Рекомендуемая</th>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.tire.width.rec }}</td>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.tire.height.rec }}</td>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.tire.diameter.rec }}</td>
                </tr>
                </tbody>
            </table>
            <h4>Диски</h4>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Ширина</th>
                    <th scope="col">Высота</th>
                    <th scope="col">Диаметр</th>
                    <th scope="col">Вынос</th>
                    <th scope="col">Диаметр ЦО</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Мин.</th>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.rim.width.min }}</td>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.rim.height.min }}</td>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.rim.diameter.min }}</td>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.rim.offset.min }}</td>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.rim.center_hole_diameter.min }}</td>
                </tr>
                <tr>
                    <th scope="row">Макс.</th>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.rim.width.max }}</td>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.rim.height.max }}</td>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.rim.diameter.max }}</td>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.rim.offset.max }}</td>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.rim.center_hole_diameter.max }}</td>
                </tr>
                <tr>
                    <th scope="row">Рекомендуемая</th>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.rim.width.rec }}</td>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.rim.height.rec }}</td>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.rim.diameter.rec }}</td>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.rim.offset.rec }}</td>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.rim.center_hole_diameter.rec }}</td>
                </tr>
                </tbody>
            </table>
            <h4>Дворники</h4>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Длина</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Мин.</th>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.wiper.length.min }}</td>
                </tr>
                <tr>
                    <th scope="row">Макс.</th>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.wiper.length.max }}</td>
                </tr>
                <tr>
                    <th scope="row">Рекомендуемая</th>
                    <td>{{ vehicle.0.get_hierarchy_attributes.restrictions.wiper.length.rec }}</td>
                </tr>
                </tbody>
            </table>
            <h4>Масла</h4>
            <p>Рекомендуемый тип масла {{ vehicle.0.get_hierarchy_attributes.restrictions.oil.type }}</p>
            <h4>Годы производства {{ vehicle.0.get_hierarchy_attributes.years_of_production }}</h4>
        </div>
        {% if vehicle.1 %}
            {% for veh in vehicle|slice:"1:" %}
                <div class="tab-pane fade" id="{{ veh.name }}">
                    <h4>Шины</h4>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Тип</th>
                            <th scope="col">Ширина</th>
                            <th scope="col">Высота</th>
                            <th scope="col">Диаметр</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Мин.</th>
                            <td>{{ veh.get_hierarchy_attributes.restrictions.tire.width.min }}</td>
                            <td>{{ veh.get_hierarchy_attributes.restrictions.tire.height.min }}</td>
                            <td>{{ veh.get_hierarchy_attributes.restrictions.tire.diameter.min }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Макс.</th>
                            <td>{{ veh.get_hierarchy_attributes.restrictions.tire.width.max }}</td>
                            <td>{{ veh.get_hierarchy_attributes.restrictions.tire.height.max }}</td>
                            <td>{{ veh.get_hierarchy_attributes.restrictions.tire.diameter.max }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Рекомендуемая</th>
                            <td>{{ veh.get_hierarchy_attributes.restrictions.tire.width.rec }}</td>
                            <td>{{ veh.get_hierarchy_attributes.restrictions.tire.height.rec }}</td>
                            <td>{{ veh.get_hierarchy_attributes.restrictions.tire.diameter.rec }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <h4>Годы производства {{ veh.get_hierarchy_attributes.years_of_production }}</h4>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <a class="btn btn-outline-primary" href='{% url 'edit' parent.id %}' role="button" style="color: white">Редактировать</a>
{% endblock content %}
