{% extends 'base.html' %}

{% block content %}

    <div class="raw">
        <form action="" method="post"
              onsubmit="document.getElementById('submit').disabled=true; processFormData();">{% csrf_token %}
            {% for content in form.parental_form_content %}
                {{ content }}
            {% endfor %}
            <ul class="nav nav-tabs" style="margin-bottom: 20px;">
                {% for config in config_list %}
                    <li class="nav-item">
                        <a
                            style="color: white"
                            href="{% url 'edit_configuration' config.id %}"

                            {% if config.selected == True %}
                            class="nav-link active"
                            {% else %}
                            class="nav-link"
                            {% endif %}
                        >{{ config.name }}</a>
                    </li>
                {% endfor %}
                <li class="nav-item">
                    <a
                        style="color: white" href="{% url 'add_configuration' generation.id %}"
                        {% if select_plus %}
                            class="nav-link active"
                        {% else %}
                            class="nav-link"
                        {% endif %}
                    >
                        {% if select_plus %}
                            Новая комплектация (не сохранено)
                        {% else %}
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        {% endif %}
                    </a>
                </li>
            </ul>
            {{ form.as_div }}
            <input id="submit" style="margin-bottom: 30px; margin-top: 30px" class="btn btn-outline-success"
                   type="submit" value="Сохранить"/>
        </form>
    </div>
{% endblock content %}
